.top-wrapper
  .top-wrapper__upper
    .top-wrapper__upper--left
      = link_to "trippiece", root_path, class: "link"
    .top-wrapper__upper--right
      %ul
        %li
          マイリスト
        %li
          メッセージ
        %li
          通知
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
        %li
          = link_to "プロフィール", user_path(current_user.id), class: "link"
        %li
          = link_to "設定", edit_user_path(current_user.id), class: "link"
        %li
          企画を作成

.edit-wrapper
  .edit-wrapper__main
    .edit-wrapper__main--left
      プロフィール設定
    .edit-wrapper__main--right
      = form_for current_user do |f|
        .edit-wrapper__main--right--name
          = f.label :name, value: "名前"
          %br
          = f.text_field :name, value: current_user.name, class:"form"
        .edit-wrapper__main--right--image
          = f.label :image, value: "プロフィール写真", class:"label"
          .edit-wrapper__main--right--image--contents.clearfix
            .edit-wrapper__main--right--image--contents--icon
              =image_tag "IMG_9087.jpg", size: "100x100", style: "border-radius:50%;"
            .edit-wrapper__main--right--image--contents--text
              顔写真は旅行者がお互いを知るためにとても重要な要素です。あなたのことがはっきりわかる、最高のプロフィール写真を選びましょう！
              = f.label :image, class:"upload" do
                = f.file_field :image
        .edit-wrapper__main--right--selfIntroduction.clearfix
          = f.label :selfintroduction, value: "自己紹介", class: "label"
          %br
          = f.text_field :selfintroduction, class:"text-form", value: "", class: "text-form", placeholder: "自己紹介を入力しよう"
        .edit-wrapper__main--right--editBtn
          = f.submit "保存する", class: 'editBtn'
