-if user_signed_in?
  = render "projects/topWrapper"
- else
  .top-wrapper
    .top-wrapper__upper
      .top-wrapper__upper--left
        = link_to "trippiece", root_path, class: "link"
      .top-wrapper__upper--right
        %ul
          %li
            = link_to "会員登録（無料）", new_user_registration_path, class: "link"
          %li
            = link_to "ログイン", new_user_session_path, class: "link"

.main-wrapper
  .main-wrapper--profile
    .main-wrapper--profile--top
      =image_tag "IMG_9087.jpg", size: "900x300"
    .main-wrapper--profile--profileImage
      =image_tag @user.image , class: "profileimage"
    .main-wrapper--profile--middle
      .main-wrapper--profile--middle--name
        = @user.name
      %ul.main-wrapper--profile--middle--projects
        %li
          .main-wrapper--profile--middle--projects--count
            0
          .main-wrapper--profile--middle--projects--text
            参加した企画
        %li
          .main-wrapper--profile--middle--projects--count
            0
          .main-wrapper--profile--middle--projects--text
            申し込み済の企画
        %li
          .main-wrapper--profile--middle--projects--count
            0
          .main-wrapper--profile--middle--projects--text
            お気に入り企画
        %li
          .main-wrapper--profile--middle--projects--count
            = @projects.count
          .main-wrapper--profile--middle--projects--text
            作成した企画

    .main-wrapper--profile--bottom
      .main-wrapper--profile--bottom--title
        自己紹介
      .main-wrapper--profile--bottom--text
        = @user.selfintroduction
  .main-wrapper--projects

.project-wrapper
  %h1
    = @user.name + "さんの企画一覧"
  .project-wrapper__projects
    - @projects.each do |project|
      .project-wrapper__projects--content
        .project-wrapper__projects--content--image
          = image_tag project.image, size: "300x200"
        .project-wrapper__projects--content--details
          .project-wrapper__projects--content--details--userImage
            = image_tag "IMG_0741.jpg", size: "30x30", style: "border-radius:50%;"
          .project-wrapper__projects--content--details--title
            = link_to project.title, project_path(project.id)
          .project-wrapper__projects--content--details--date.clearfix
            = project.departure_date.strftime("%Y年%m月")

  .project-wrapper__revieLink.clearfix
  - unless current_user.id == @user.id
    = link_to "このUserの口コミを投稿する", new_user_review_path(@user.id)

-# モーダル
#drop-modal-wrapper
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
  = link_to "プロフィール", user_path(@user.id), class: "link"
  = link_to "設定", edit_user_path(@user.id), class: "link"