.project-show-wrapper
  .project-show-wrapper__title.clearfix
    = "【" + @project.title + "】"
    .project-show-wrapper__title--left
      企画詳細
  - if user_signed_in? && current_user.id === @project.planner_id
    .project-show-wrapper__title--right
      = link_to "企画を編集", edit_project_path(@project.id), class: "link"

  .project-show-wrapper__contents.clearfix
    .project-show-wrapper__contents--left
      .project-show-wrapper__contents--left--top
        .project-show-wrapper__contents--left--top--image
          = image_tag @project.image, size: "600x500"
        .project-show-wrapper__contents--left--top--userInfo
          .project-show-wrapper__contents--left--top--userInfo--image
            =image_tag @user.image, size: "80x80", style: "border-radius:50%;"
          .project-show-wrapper__contents--left--top--userInfo--name
            = link_to @user.name, user_path(@user.id), class: "link"
        .project-show-wrapper__contents--left--top--introduction
          = @project.introduction

      .project-show-wrapper__contents--left--bottom
        .project-show-wrapper__contents--left--bottom--info
          .project-show-wrapper__contents--left--bottom--info--li
            .project-show-wrapper__contents--left--bottom--info--li--label
              日程
            .project-show-wrapper__contents--left--bottom--info--li--content
              = @project.departure_date.strftime("%Y年%m月%d日") + "から" + @project.finish_date.strftime("%Y年%m月%d日")
          .project-show-wrapper__contents--left--bottom--info--li
            .project-show-wrapper__contents--left--bottom--info--li--label
              価格
            .project-show-wrapper__contents--left--bottom--info--li--content
              未定
          .project-show-wrapper__contents--left--bottom--info--li
            .project-show-wrapper__contents--left--bottom--info--li--label
              行き先
            .project-show-wrapper__contents--left--bottom--info--li--content
              .project-show-wrapper__contents--left--bottom--info--li--content--orange
                = @project.destination

        .project-show-wrapper__contents--left--bottom--activity.clearfix
          .project-show-wrapper__contents--left--bottom--activity--label
            アクティビティ
          .project-show-wrapper__contents--left--bottom--activity--content
            観光

        .project-show-wrapper__contents--left--bottom--detail.clearfix
          あああ

    - unless user_signed_in? && current_user.id === @project.planner_id
      .project-show-wrapper__contents--right
        .project-show-wrapper__contents--right--apply
          %p
            企画のステータス
          .project-show-wrapper__contents--right--apply--status
            申し込み受付中
          .project-show-wrapper__contents--right--apply--applyBtn
            = link_to "申し込む", new_project_participant_path(@project.id), class: "applyBtn"
