- if user_signed_in?
  = render "afterSignIn"
- else
  %header
    .logo
      %p
        trippiece
    %header__title
      %header__title--main
        %p
          みんなで遊べば、
          %br
          地球は楽しい。
      %header__title--sub
        %p
          どこにもない旅を、みんなでつくる。
          %br
          trippiece<トリッピース>
    .signupLinks
      .signupLinks__buttons.clearfix
        .signupLinks__buttons--upper
          .signupLinks__buttons--upper--facebook.btn
            %i.fa.fa-facebook-official
            Facebookで新規登録/ログイン
          .signupLinks__buttons--upper--email
            = link_to "メールアドレスで新規登録", new_user_registration_path, class:"btn"
        .signupLinks__buttons--middle
          .signupLinks__buttons--middle--text
            trippieceが許可無くSNSへ投稿することはありません。
          .signupLinks__buttons--middle--or
            または
        .signupLinks__buttons--bottom
          .signupLinks__buttons--bottom--google
            %i.fa.fa-google-plus
            google+で新規登録/ログイン
    .loginLink
      = link_to "すでにユーザーの方はこちら", new_user_session_path, class:"btn"

  -# project-wrapper
  .project-wrapper
    %h1
      おすすめ企画
    .project-wrapper__projects
      - @projects.each do |project|
        .project-wrapper__projects--content
          .project-wrapper__projects--content--image
            = image_tag project.image, size: "300x200"
          .project-wrapper__projects--content--details
            .project-wrapper__projects--content--details--userImage
              = image_tag "IMG_0741.jpg", size: "30x30", style: "border-radius:50%;"
            .project-wrapper__projects--content--details--title
              = link_to project.title, project_path(project.id)
            .project-wrapper__projects--content--details--date.clearfix
              = project.departure_date.strftime("%Y年%m月")

    .moreProjects#more.clearfix
      もっと見る
  .login-wrapper
    %h1
      さあ、みんなで旅に出よう！

    .signupLinks
      .signupLinks__buttons.clearfix
        .signupLinks__buttons--upper
          .signupLinks__buttons--upper--facebook.btn
            %i.fa.fa-facebook-official
            Facebookで新規登録/ログイン
          .signupLinks__buttons--upper--email
            = link_to "メールアドレスで新規登録", new_user_registration_path, class:"btn"
        .signupLinks__buttons--middle
          .signupLinks__buttons--middle--text
            trippieceが許可無くSNSへ投稿することはありません。
          .signupLinks__buttons--middle--or
            または
        .signupLinks__buttons--bottom
          .signupLinks__buttons--bottom--google
            %i.fa.fa-google-plus
            google+で新規登録/ログイン
    .loginLink
      = link_to "すでにユーザーの方はこちら", new_user_session_path, class:"btn"
