= render "topWrapper"

-#editと共通
.projectCreate-wrapper
  = form_for @project do |f|
    .projectCreate-wrapper__top
      %p
        まずはざっくりと企画の基本情報を入力してみましょう。後から編集もできるので、詳細が決まったらどんどん編集して、企画ページを充実させていきましょう！
      .projectCreate-wrapper__top--title
        .projectCreate-wrapper__top--title--left
          = f.text_field :title, class: "form", placeholder: "(例)インドへ行こう"
        .projectCreate-wrapper__top--title--right
          タイトル

      .projectCreate-wrapper__top--image.clearfix
        .projectCreate-wrapper__top--image--left
          =image_tag "IMG_0612.jpg", size: "600x500", class: "image"
          .projectCreate-wrapper__top--image--left--content
            .projectCreate-wrapper__top--image--left--content--upload
              = f.label :image, class: "uploadBtn" do
                アップロード
                = f.file_field :image, style: "display:none"
        .projectCreate-wrapper__top--image--right
          企画の画像


      .projectCreate-wrapper__top--introduction.clearfix
        .projectCreate-wrapper__top--introduction--left
          .projectCreate-wrapper__top--introduction--left--userInfo
            = image_tag current_user.image , class: "profileimage"
            .projectCreate-wrapper__top--introduction--left--userInfo--userName
              = current_user.name
          .projectCreate-wrapper__top--introduction--left--text.clearfix
            = f.text_area :introduction, class: "form", placeholder: "(例)年末にインドに行きたいと考えています。"
        .projectCreate-wrapper__top--introduction--right
          旅への思い

    .projectCreate-wrapper__bottom.clearfix
      .projectCreate-wrapper__bottom--date
        .projectCreate-wrapper__bottom--date--left
          = f.label :departure_date, value: "日程 :"
        .projectCreate-wrapper__bottom--date--right
          .projectCreate-wrapper__bottom--date--right--from
            = f.label :departure_date, value: "開始日 :", class: "label"
            -# = sprintf(f.date_select(:use_month_numbers => true,start_year: 2017, end_year: 2018, :date_separator => '%s'), '年', '月') + '日'}, class: 'form-control'
            = f.date_select :departure_date, {:use_month_numbers => true,start_year: 2017, end_year: 2018}, class: 'form-control'
          .projectCreate-wrapper__bottom--date--right--until
            = f.label :finish_date, value: "終了日 :", class: "label"
            = f.date_select :finish_date, {:use_month_numbers => true,start_year: 2017, end_year: 2018}, class: 'form-control'

      .projectCreate-wrapper__bottom--destination.clearfix
        .projectCreate-wrapper__bottom--destination--left
          = f.label :destination, value: "行き先 :", class: "label"
          .projectCreate-wrapper__bottom--destination--left--form
            = f.text_field :destination, class: "form", placeholder: "(例)インド"

      .projectCreate-wrapper__bottom--detail.clearfix
        .projectCreate-wrapper__bottom--detail--left
          .projectCreate-wrapper__bottom--detail--left--text.clearfix
            = f.text_area :introduction, class: "form", placeholder: "(例)年末にインドに行きたいと考えています。"
        -# .projectCreate-wrapper__bottom--detail--right.clearfix
        -#   旅への思い

    .projectCreate-wrapper__submitBtn.clearfix
      = f.submit "送信する", class: "submit"

-# モーダル
#drop-modal-wrapper
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link"
  = link_to "プロフィール", user_path(current_user.id), class: "link"
  = link_to "設定", edit_user_path(current_user.id), class: "link"