- if user_signed_in?
  = render "topWrapper"
  = render "projectShow"

- else
  .top-wrapper
    .top-wrapper__upper
      .top-wrapper__upper--left
        = link_to "trippiece", root_path, class: "link"
      .top-wrapper__upper--right
        %ul
          %li
            = link_to "会員登録（無料）", new_user_registration_path, class: "link"
          %li
            = link_to "ログイン", new_user_session_path, class: "link"
  = render "projectShow"